body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    display: grid;
    place-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#contenedor-todo {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: none;
    width: fit-content;
}

#opciones {
    display: grid;
    width: 33vh;
    place-content: start;
    margin-right: 20px;
}

#lista-tareas {
    margin-top: 10px;
    padding: 0;
    width: 300px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 2px;
}

#lista-tareas li {
    margin-bottom: 10px;
}

#lista-tareas span {
    display: block;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}



#opciones > *:first-child,
#lista-tareas > *:first-child {
    margin-top: 0;
}